{% load bootstrap4 instagram_tags humanize %}
<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" style="width: 32px; height: 32px"/>
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}
        </a>
    </div>
    <div class="card-body">
        {#  사진  #}
        <img src="{{ post.photo.url }}" style="width: 100%;" />

        <div>
            {#  좋아요  #}
            {% if post|is_like_user:user %}
                <a href="{% url "instagram:post_unlike" post.pk %}" style="color: inherit">
                    <i class="fa fa-heart" aria-hidden="true">좋아요 해제</i>
                </a>
            {% else %}
                <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit">
                   <i class="fa fa-heart-o" aria-hidden="true">좋아요</i>
                </a>
            {% endif %}
        </div>

        <div id="post-{{ post.pk }}-commnet-list" class="comment-list mt-3 mb-3">
            {#   comment    #}
            {% for comment in post.comment_set.all %}
                {% include "instagram/_comment.html" %}
            {% endfor %}
        </div>

        <div>
            {#   Tag     #}
            {% for tag in post.tag_set.all %}
                <span class="badge text-bg-primary">
                    #{{ tag.name }}
                </span>
            {% endfor %}
        </div>

        <div>
            <a href="{{ post.get_absolute_url }}" style="" class="text-muted">
                <small>
                    {{ post.created_at|naturaltime }}
                </small>
            </a>
        </div>
    </div>
    <div class="card-footer">
        {#   댓글     #}
{#        <a href="{% url "instagram:comment_new" post.pk %}">댓글 쓰기</a>#}
        <form id="post-{{ post.pk }}-comment-form" action="{% url "instagram:comment_new" post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <div class="d-grid gap-2">
                <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />
            </div>
        </form>


        <script>
            $(function () {
                var form_id = "post-{{ post.pk }}-comment-form";
                $("#" + form_id).submit(function (e) {
                    e.preventDefault();

                     var options = {
                            success: function (responseText, statusText, xhr, $form) {
                                console.group('ajaxSubmit response')
                                console.log(responseText)
                                console.log(statusText)
                                console.log(xhr)
                                console.log($form)
                                console.groupEnd()

                                $("#post-{{ post.pk }}-commnet-list").prepend(responseText)
                            }
                        }

                    {# submit안에서 this: 자바스크립트는 function을 사용하면 대상이 바뀐다#}
                    {# 밑에 처럽 랩핑을 해줘야 jquery 객체가 된다#}
                    $(this).ajaxSubmit(options);

                    console.log("submit!!!");
                });
                console.log("document ready")
            });
        </script>
    </div>
</div>